@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

.book-register {
    border: 3px solid black;
    display: inline-block;
    text-align: left;
    width: 1000px
}

.book-register h1 {
    text-align: center;
    padding-top: 40px;
}

#title-input {
    width: 100%;
    margin: 0;
}

.book-register h5 {
    display: inline;
    text-align: center;
    font-weight: bold;
}

.input-class {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tag-input-class {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tags-input-button {
    margin: auto;
    padding: auto;
    width: auto;
    border: 2px solid black
}

#tags-add-button {
    display: inline;
}

#tags-input {
    display: inline;
    width: auto;
}

#tags-display {
    display: inline;
}

.tags-display h5 {
    display: inline;
    font-weight: normal;
}

.tag-delete-button{
    margin-left: 5px;
    margin-right: 12px;
}

.tags-display-tag {
    display: inline;
}

