@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');



#breif-summary-description {
    font-size: small;
    color: grey;
    font-weight: normal;
}

.book-edit {
    border: 0px solid rgb(119, 170, 235);
    display: inline-block;
    text-align: left;
    width: 1000px;
}

h1 {
    display: inline;
    text-align: center;
    font-weight: bolder;
    padding-top: 40px;
}

#title-input {
    width: 100%;
    margin: 0;
}

.book-edit h5 {
    display: inline;
    text-align: center;
    font-weight: bold;
}

.input-class {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tag-input-class {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.add-button {
    display: inline;
}

#tags-display {
    display: inline;
}

.tags-display h5 {
    display: inline;
    font-weight: normal;
}

.delete-button{
    margin-left: 5px;
    margin-right: 12px;
}

.display-tag {
    display: inline;
    font-weight: normal;
}

#additional-info-input {
    height: 200px;
}

#h5-cost {
    border-bottom: 2px solid black;
    margin: 20px;
    width: 100px;
    font-weight: normal;
    text-align: center;
}

#borrowing-cost-range {
    display: flex;
    flex-grow: 1;
}

#register-button {
    text-align: center;
    width: 100%;
}

#edit-button {
    max-width: 1000px;
}

@media only screen and (max-width: 550px) {
    .book-edit {
      display: block;
    }
}