#welcome-description {
    margin-top: 20px;
    font-size: 2.05vw;
    animation: fadein 3s;
    margin-bottom: 5vh;
}

#welcome-h1 {
    font-size: 4.4vw;
    animation: fadein 2s;
}

#register-h2 {
    font-size: 3.3vw;
    animation: fadein 2s;
}

.image-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.description-div {
    width: 27vw;
    align-content: center;
}

#welcome-book-image1 {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    width: 25vw;
    animation: fadein 2s;
    padding: auto;
}

#welcome-book-image2 {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    width: 25vw;
    animation: fadein 3s;
    padding: auto;
}

#register-book-image1 {
    width: 25vw;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    animation: fadein 5s;
    padding: auto;
}

#register-book-image2 {
    width: 25vw;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    animation: fadein 6s;
    padding: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#mainpage {
    background-color: white;
}

#main-searchbar {
    margin: auto;
    height: 100px;
    background-color: dodgerblue;
    width: 100%;
}

#main-description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    background-color: aliceblue;
    width: 100vw;
    height: fit-content;
    padding: 7.34vw;
    text-align: left;
    margin-left: calc(-50vw + 50%);
}

#main-register {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    background-color: aliceblue;
    width: 100vw;
    height: fit-content;
    padding: 7.34vw;
    text-align: right;
    align-content: right;
    margin-left: calc(-50vw + 50%);
}

#main-register-button {
    margin: auto;
    margin-top: 10vh;
    width: fit-content;
}

@media only screen and (max-width: 1200px) {
    #welcome-descripton {
        font-size: 28px;
    }

    #welcome-h1 {
        font-size: 60px;
    }

    #register-h2 {
        margin-top: 30px;
        font-size: 45px;
    }

    .description-div {
        width: 350px;
    }

    #main-description {
        padding: 100px;
    }

    #main-register {
        padding: 100px;
    }

    #main-register-button {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 550px) {
    #welcome-description {
        margin: 20px 0;
        font-size: 14px;
    }

    #welcome-h1 {
        font-size: 30px;
    }

    .image-div {
        align-content: center;
    }

    #welcome-book-image1 {
        object-fit: contain;
        margin: auto;
        margin-top: 5vh;
    }

    #welcome-book-image2 {
        object-fit: contain;
        margin: auto;
        margin-top: 5vh;
    }

    #main-searchbar {
        height: 90px;
    }

    #main-description {
        display: block;
        padding: 50px
    }

    #main-register {
        display: block;
        padding: 50px;
    }

    #register-h2 {
        margin-top: 15px;
        font-size: 22px;
    }

    .description-div {
        width: fit-content;
    }

    #register-book-image1 {
        object-fit: contain;
        margin: auto;
        display: inline;
        margin-top: 5vh;
        animation: fadein 5s;
    }

    #register-book-image2 {
        object-fit: contain;
        margin: auto;
        display: inline;
        margin-top: 5vh;
        animation: fadein 6s;
    }

    #main-register-button {
        margin-top: 5vh;
    }

}