.booklist{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    border: 2px solid rgb(199, 199, 199);
    border-radius: 15px;
}

@media only screen and (max-width: 550px) {
    .booklist {
        display: block;
    }
}