.page {
    background-color: white;
}

.booklist{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 15px;
}