
.register h5 {
    display: inline;
    color: rgb(119, 170, 235);
    font-family: 'Muli', sans-serif;
}

#register-button {
    border: 2px solid rgb(119, 170, 235);
    width: 65px;
    height: 50px;
}

#register-icon {
    display: inline-block;
    color:#34495e;
}