h1 {
    font-weight: bold;
}

.login-page {
    border-radius: 5px;
    border: 10px solid rgb(119, 170, 235);
    width: 600px;
    height: 350px;
    margin: auto;
    margin-top: 300px;
}

.signin-input-class {
    margin: auto;
    width: 300px;
}

.signin {
    margin: auto;
}

.signin-buttons {
    width: 300px;
    margin: auto;
}

#login-button {
    margin-right: 30px;
}

#signup-button {
    margin-left: 30px;
}