h1 {
    font-weight: bold;
}

#login-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.blank {
    height: 30vh;
}

.login-page {
    border-radius: 5px;
    border: 10px solid rgb(119, 170, 235);
    padding-top: 30px;
    padding-bottom: 30px;
}

.signin-input-class {
    margin: auto;
    width: 300px;
}

.signin {
    margin: 0 10px;
    padding-left: var(--bs-gutter-x);
}

.signin-buttons {
    width: 300px;
    margin: auto;
}

#login-button {
    margin-right: 30px;
}

#signup-button {
    margin-left: 30px;
}